@tailwind base;
@tailwind components;
@tailwind utilities;

.angled-button:hover::before {
  top: 0;
  
}
.angled-button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ecc71;
  
  transition: top 0.5s ease-in-out;
  z-index: -1;
  padding: 0;
}
.angled-button {
  z-index: 2;
  position: relative;
  background-color: pink; /* Red color */
  color: black;
  padding: 15px 30px;
  font-size: 18px;
  
  cursor: pointer;
  text-align: center; /* Centers the text horizontally */
  border: none;
  cursor: pointer;

  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%); /* Straight edges initially */
  
  transition: background-color 0.3s ease,clip-path 0,3s ease-in;
}
.angled-button:hover{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); /* Creates the angled bottom */
}




.slider{
  position: relative;
   max-width: 100%; 
  height: 26.625rem; 
  margin: 0 auto;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  
  background-color: #fff;
  z-index: 100;
  width: 100%;
  transition: height 0.3s ease; /* Smooth transition for height change */
  
  
  
}

header.shrink {
  height: 90%; /* Height when scrolled */
  
  
}
.headerbckgrnd{
  opacity: 0.5;
}
.headerbckgrnd.shrink
{
  opacity: 0.5;
}

.slide{ 
  position: absolute;
  top:0;
  width: 100%;
  height: 26.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  
}
.slide > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


.btn-slide{
  position:absolute;
  top:50%;
  z-index: 10;

  height: 5.5rem;
  width: 5.5rem;
  cursor: pointer;
}
.prev{
  left:3rem;
  transform: translate(-50%, -50%);
}
.next{
  right: 3rem;
  transform: translate(50%, -50%); 
}
.dots-container{
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.dot{
  width: 25px;
  height: 5px;
  margin: 15px 5px;
  border-radius: .5rem;
  background: rgba(39,39,39, .5);
  cursor: pointer;
}
.dot.active{
background:#272727;
}
